<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Prediction</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <form action="{{url_for('predict_review')}}" method="POST">
        <div class="form-group">
            <label for="reviews">Enter Reviews:</label>
            <textarea id="reviews" name="reviews" placeholder="Enter your reviews here" rows="4" cols="50"></textarea>
        </div>

        <div style="clear:both;"></div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
